<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lelemarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:icon="${app_icon}"
      android:label="${app_name}"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:networkSecurityConfig="@xml/network_security_config"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="${app_name}"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <!-- 华为全面屏适配 -->
      <meta-data
        android:name="android.notch_support"
        android:value="true" />
      <!-- Android官方全面屏适配 -->
      <meta-data
        android:name="android.max_aspect"
        android:value="2.34" />
      <!-- 小米全面屏适配 -->
      <meta-data
        android:name="notch.config"
        android:value="portrait|landscape" />
    </application>

</manifest>
