<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <script>
    function register() {
      invoker.register('fetch', (payload) => {
        payload.onProgress && payload.onProgress('123456');

        return new Promise((resolve) => {
          setTimeout(() => {
            resolve('test');
          }, 3000);
        });
      });
    }
    function hello() {
      invoker.call({
        command: 'hello',
        callback: {
          success: (payload) => {
            document.getElementById('text').innerText = JSON.stringify(payload);
          },
        },
      });
    }
  </script>
  <body style="background-color: gainsboro;">
    <div
      id="text"
      style="
        background-color: ghostwhite;
        color: blue;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 5px;
      "
    >
      show
    </div>
    <button onclick="register()">Register(注册消息)</button>
    <button onclick="hello()">Call(调用接口)</button>
  </body>
</html>
